#Button01
{
	background:#ba0000;
	border-width:0px;
	color:#ffffff;
}

#Button01:hover
{
	background: #ff0000;
	color: #ffe500;
}

#InputText
{
	background:#ba0000;
	border: 1px solid;
	border-color:#ff0000;
	color:#c21515;
}